//====================================
// Global Imports
//====================================


// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';

html, body {
    height:100%;
}

.cloud-container {
    padding: 0;
    margin: 0;
    margin: 0 auto;
    min-height: 100%;
}

#blue-ball-bg {
    background-image: url('../img/blue-ball.png');
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: 0px -220px;
    position: relative;
    float: right;
    width: 450px;
    height: 550px;
    opacity: 0.7;
}

#red-ball-bg {
    background-image: url('../img/red-ball.png');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: -40px -550px;
    position: relative;
    width: 760px;
    height: 220px;
    opacity: 0.7;
}

#yellow-ball-bg {
    background-image: url('../img/yellow-ball.png');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 320px 320px;
    position: relative;
    width: 100%;
    height: 550px;
    opacity: 0.7;
}

#marca-bg {
    background-image: url('../img/marca_960.png');
    background-repeat: no-repeat;
    background-size: 580px;
    position: absolute;
    top: 270px;
    left: 60px;
    width: 580px;
    height: 240px;
}

#event-date-bg {
    background-image: url('../img/event-date.png');
    background-repeat: no-repeat;
    background-size: 400px;
    position: absolute;
    bottom: 30px;
    left: 30%;
    width: 400px;
    height: 50px;
}

@media screen and (max-width: 1128px) {

    #blue-ball-bg {
        display: none;
    }

    #red-ball-bg {
        background-size: 600px;
        background-position: -40px -400px;
        width: 600px;
        height: 220px;
    }

    #yellow-ball-bg {
        background-size: 700px;
        background-position: 450px 220px;
        width: 100%;
        height: 550px;
        opacity: 0.7;
    }

    #marca-bg {
        background-size: 500px;
        top: 200px;
        left: 280px;
        width: 500px;
    }

    #event-date-bg {
        background-size: 300px;
        bottom: 10px;
        width: 300px;
        height: 50px;
    }
}

@media screen and (max-width: 782px) {
    #marca-bg {
        background-size: 450px;
        top: 200px;
        left: 50px;
        width: 450px;
        height: 500px;
    }
}
@media screen and (max-width: 480px) {
    #red-ball-bg {
        background-size: 400px;
        background-position: -40px -280px;
        width: 100%;
        height: 220px;
    }

    #yellow-ball-bg {
        background-size: 450px;
        background-position: -20px 100px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        height: 200px;
        opacity: 0.7;
    }

    #marca-wrap {
        width: 100%;
        height: 300px;
        text-align: center;
    }

    #marca-bg {
        background-image: url('../img/marca_vertical.png');
        background-size: 200px;
        display: inline-block;
        position: relative;
        margin: auto 0;
        width: 200px;
        height: 310px;
        top: -90px;
        left: 0px;
    }

    #event-date-bg {
        background-size: 260px;
        bottom: 10px;
        left: 20px;
        width: 260px;
        height: 50px;
    }
}
